/*mobile styles*/

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 50px 0;
    background-image: url(./../../assets/Home-Hero-Image.jpg);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    &::after {
        content: "";
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
        background: rgba(255,255,255,0.85);
        z-index: 2;
    }
}

.header-title {
    font-size: 2em;
    text-align: center;
    padding: 10px 20px;
    z-index: 5;
}

.header-decor {
    background-image: url(./../../assets/Decoration.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 80px;
    z-index: 5;
}

.header-cta {
    display: flex;
    justify-content: space-around;
    z-index: 5;
    padding: 20px 0;
}

.header-cta-btn {
    width: 30%;
    padding: 10px 10px;
    border: 1px solid $dark-grey;
    text-align: center;
    text-transform: uppercase;
    color: $dark-grey;
    font-size: 1.4em;
    z-index: 5;
}

/*tablet styles*/
@media screen and (min-width: 500px) {

}

/*laptop styles*/
@media screen and (min-width: 900px) {

    .header-hero {
        display: flex;
    }

    .header {
        width: 60%;
        background-image: none;
        padding: 60px 30px 80px 0;
    }

    .header-bckg {
        width: 50%;
        padding: 40px;
        background-image: url(./../../assets/Home-Hero-Image.jpg);
        background-position: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: -80px;
    }

    .header-title {
        font-size: 1.5em;
    }

    .header-cta-btn {
        font-size: 1em;
    }


}
