/*mobile styles*/

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;

    @media screen and (max-width: 899px) {

    background-image: url(./../../assets/Background-Contact-Form.jpg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    &::after {
        content: "";
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
        background: rgba(255,255,255,0.85);
        z-index: 2;
        }
    }
}

.contact-title {
    font-size: 2em;
    text-align: center;
    padding: 10px 20px;
    z-index: 5;
}

.contact-decor {
    background-image: url(./../../assets/Decoration.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 80px;
    z-index: 5;
}

.contact-form {
    z-index: 5;
}

.contact-form-label {
    font-family: $font-alt;
    font-weight: 700;
    font-size: 0.8em;
    margin-top: 10px;
    padding-left: 10px;
    background: transparent;
}

.contact-form-item {
    width: 98%;
    margin: 0 auto;
    line-height: 2em;
    border: none;
    border-bottom: 1px solid $light-grey;
    margin-bottom: 20px;
    background: transparent;

    &::placeholder {
        color: #a2a2a2;
    }
}

.contact-form-btn {
    float: right;
    margin-right: 30px;
    background-color: white;
    padding: 10px 20px;
    border: 1px solid $dark-grey;
}

.contact-form-err {
    font-weight: bold;
    color: red;
    text-align: center;
    padding-bottom: 10px;
}

/*tablet styles*/
@media screen and (min-width: 500px) {

}

/*laptop styles*/
@media screen and (min-width: 900px) {
    .contact {
        background-image:none;
        width: 35%;
        margin-left: 55%;
        margin-right: 10%;
    }

    .contact-title {
        width: 100%;
    }

    .contact-bckg {
        padding-top: 40px;
        background-image: url(./../../assets/Background-Contact-Form.jpg);
        background-position: top left;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        z-index: 1;
        &::after {
            content: "";
            position: absolute;
            left: 0; right: 0;
            top: 0; bottom: 0;
            background: rgba(255,255,255,0.85);
            z-index: 2;
        }
    }
}