/*mobile styles*/

.nav {
    display: flex;
    flex-direction: column;
}

.nav-sign-list {
    display: flex;
    justify-content: space-around;
    padding: 20px 0 10px 0;
}

.nav-menu-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    cursor: pointer;
    padding-bottom: 10px;
}

.nav-sign-item {
    padding: 10px 20px;
    font-size: 0.8em;
    border: 1px solid white;
    &:hover {
        border: 1px solid $yellowish;
    }
}

.nav-menu-item {
    padding: 10px 20px;
    border: 1px solid transparent;
    &:hover {
        border: 1px solid $dark-grey;
    }
}

/*tablet styles*/
@media screen and (min-width: 500px) {

    .nav-sign-list {
        justify-content: flex-end;
    }

    .nav-menu-list {
        justify-content: flex-end;
    }

}

/*laptop styles*/
@media screen and (min-width: 900px) {
    .nav-menu-list {
        z-index: 5;
        position: relative;
    }
}