/*mobile styles*/

.nav {
    display: flex;
    flex-direction: column;
}

.nav-logged-list {
    display: flex;
    justify-content: space-around;
    padding: 20px 0 10px 0;
}

.nav-logged-item {
    padding: 10px 20px;
    font-size: 0.8em;
    border: 1px solid white;
    &:hover {
        border: 1px solid $yellowish;
    }
}


/*tablet styles*/
@media screen and (min-width: 500px) {

    .nav-logged-list {
        justify-content: flex-end;
    }

}