@import "node_modules/reset-css/sass/reset";
@import "./settings/fonts";
@import "./settings/colors";
@import "./elements/base";
@import "./elements/navigation";
@import "./elements/banner";
@import "./elements/orange";
@import "./elements/fourSteps";
@import "./elements/aboutUs";
@import "./elements/contact";
@import "./elements/footer";