@import "node_modules/reset-css/sass/reset";
@import "./settings/fonts";
@import "./settings/colors";
@import "./elements/base";
@import "./elements/navigation";
@import "./elements/banner";
@import "./elements/orange";
@import "./elements/fourSteps";
@import "./elements/aboutUs";
@import "./elements/contact";
@import "./elements/footer";
@import "./elements/receivers";
@import "./elements/signIn";
@import "./elements/signUp";
@import "./elements/signOut";
@import "./elements/navLoggedIn";

@import "./elements/donateBanner";
@import "./elements/donateOrange";
@import "./elements/donateForm";
@import "./elements/donForm1";
@import "./elements/donForm2";
@import "./elements/donForm3";
@import "./elements/donForm4";
@import "./elements/donFormSummary";
@import "./elements/donFormThx";